body{
    display: grid;
    background-color: blue;
   grid-template-areas: 
   "cabe cabe cabe"
   "prin prin brac"
   "roda roda roda";
    
}

header{ 
    grid-area: cabe;
    background-color: rgb(255, 0, 221);

}

aside{
    grid-area: brac;
    background-color: rgb(0, 255, 34);
}

main{
    grid-area: prin;
    background-color: red;
}

footer{
    grid-area: roda;
    background-color: rgb(0, 0, 0);
}