body{
    display: grid;
    background-color: blue;
    grid-template-areas: 
   "cabe cabe cabe"
   "prin prin secu"
   "roda roda roda";
    
}

.bbb{
    grid-area: cabe;
}

.ccc{
    grid-area: prin;
}

.ddd{
    grid-area: secu;
}

.eee{
    grid-area: roda;
}

