body{
    display: grid;
    background-color: blue;
   grid-template-areas: 
   "bb bb bb"
   "cc cc dd"
   "ee ee ee";
    
}

header{ 
    grid-area: bb;
    background-color: rgb(255, 0, 221);

}

aside{
    grid-area: cc;
    background-color: rgb(0, 255, 34);
}

main{
    grid-area: dd;
    background-color: red;
}

footer{
    grid-area: ee;
    background-color: rgb(0, 0, 0);
}